<h1>Hello! Welcome to our chat!</h1>

<div class="container mt-5">
    <h1>Chat</h1>
    <div>
        <input type="chat" id="chatBox">
    </div>
    <p id="messageLogs"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>