<h1>Hello! Welcome {{name}} to our products page!</h1>

<div class="container mt-5">
    <h1>Chat</h1>
    <div>
        <input type="chat" id="chatBox">
    </div>
    <p id="messageLogs"></p>
</div>

<form id="form">
    <label for="">Title</label>
    <input type="text" name="title"/>
    <label for="">Price</label>
    <input type="number" name="price"/>
    <label for="">Stock</label>
    <input type="number" name="stock"/>
    <button type="submit">Send</button>
</form>

<div id="productsList">

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>